.sign-in-and-sign-up {
    max-width: 850px;
    width: 100%;
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px auto;

    @media screen and (max-width: 940px) {
        flex-direction: column;
    }
}

.errorMessage {
    color: red;
    font-style: italic;
    text-align: center;
}